name: path test Koboldcpp-ROCm Windows

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'test'
        default: v1.67.yr0-ROCm
        required: false
        type: string
  workflow_call:
    inputs:
      version:
        description: 'test'
        default: v1.67.yr0-ROCm
        required: false
        type: string

permissions:
  contents: write

jobs:
  build_libs:
    name: test path
    runs-on: windows-latest
    defaults:
      run:
        shell: pwsh

    steps:
      - uses: actions/checkout@v3
        with:
          repository: 'YellowRoseCx/koboldcpp-rocm'
          ref: Main4all
          submodules: 'recursive'

      - name: Copy ROCm DLLs and Run PyInstaller
        run: |
          curl -LO https://github.com/YellowRoseCx/koboldcpp-rocm/releases/download/v1.43.2-ROCm/ROCmLibs4all.zip
          7z x ROCmLibs4all.zip
          ls




#          robocopy "C:\Program Files\AMD\ROCm\5.7\bin\rocblas" .\rocblas /MIR 
#          Copy-Item 'D:\a\koboldcpp-rocm\koboldcpp-rocm\build\bin\koboldcpp_hipblas.dll' '..\..\build'
#  build_wheel:
#    name: Build ROCm
#    runs-on: windows-latest
#    needs: build_libs
#    strategy:
#      matrix:
#        pyver: ["3.8", "3.9", "3.10", "3.11"]
#    defaults:
#      run:
#        shell: pwsh
#    env:
#      PCKGVER: ${{ inputs.version }}

#    steps:
#      - uses: actions/checkout@v3
#        with:
#          repository: 'YellowRoseCx/koboldcpp-rocm'
#          ref: ${{ inputs.version }}

#      - uses: actions/download-artifact@v3
#        with:
#          name: 'win-rocm-lib'
#          path: ./koboldcpp-rocm

#      - uses: actions/setup-python@v3
#        with:
#          python-version: ${{ matrix.pyver }}

#      - name: Install Dependencies
#        run: |
#          python -m pip install build wheel cmake scikit-build ninja

#      - name: Build Wheel
#        run: |
#          $packageVersion = [version]$env:PCKGVER.TrimStart('v')
#          $setup = Get-Content 'setup.py' -raw
#          if ($packageVersion -lt [version]'0.1.78') {$newsetup = $setup.Replace("packages=[`"llama_cpp`", `"llama_cpp.server`"],","packages=[`"llama_cpp`", `"llama_cpp.server`"],`n    package_data={'llama_cpp': ['llama.dll']},")}
#          if ($packageVersion -gt [version]'0.1.77') {$newsetup = $setup.Replace('package_data={"llama_cpp": ["py.typed"]},','package_data={"llama_cpp": ["py.typed", "llama.dll"]},')}
#          New-Item 'setup.py' -itemType File -value $newsetup -force
#          python setup.py --skip-cmake bdist_wheel egg_info --tag-build=+rocm5.5.1

#      - name: Upload files to a GitHub release
#        id: upload-release
#        uses: svenstaro/upload-release-action@2.6.1
#        continue-on-error: true
